PySide6-Essentials==6.10.2
pywinauto==0.6.9
rapidocr_onnxruntime==1.4.4
numpy==2.2.6
opencv-python==4.11.0.86
onnxruntime==1.20.1
Pillow==11.3.0
windows-capture==2.0.1
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Storage.Streams==3.2.1
